@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

*{
	margin: 0px;
	padding: 0px;
	outline: none;
}

.body{
	min-height: 100vh;
	background-color: #fff;
}
.container{
	background: #edece8;
	border-radius: 5px;
}

.container header{
	font-size: 35px;
}
.bar{
	display: none;
}

#course{
	padding: 0px 15px;
}

.high_school{
	display: none;
}

@media screen and (min-width: 600px) {
	.bar{
	  	display: flex;
	}
}


.bar .bullet{
	position: relative;
	display: inline-block;
	height: 25px;
	width: 25px;
	border: 2px solid #000;
	border-radius: 50%;
	text-align:center;
}

.bar .bullet span{
	line-height: 21px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.bar .step .bullet.active{
  border-color: #d43f8d;
  background-color: #d43f8d;
}

.bar .step .bullet.active span {
  display: none;
}


.bar .step{
	position: relative;
}

#disability_1{
	display: none;
}

.vdp-datepicker input{
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 6px 12px;
	width: 100%;
}


#studying{
	display: none;
}

.bar .step p{
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.bar .step p.active{
  color: #d43f8d;
}


.bar .step .check{
	display: none;
	position: absolute;
	left: 50%;
	top: 70%;
	font-size: 15px;
	transform: translate(-50%, -50%);
}

.bar .step .check.active{
  display: block;
  color: #fff;
}

.form-outer{
	/*overflow: auto;*/
	overflow: hidden;
}

.title{
	font-size: 25px;
}

.page{
	transition: margin-left 0.3s ease-in-out;
}

